<div class="h-dvh xl:hidden">
  <header>
    <app-header
      (sinalizarAbertudaNav)="changeNavbar($event)"
      (textoParaPesquisa)="pesquisarPorNota($event)"
      [texto]="textoDoHeader"
      [menuAberto]="navbarAberta"
    ></app-header>
  </header>
  <main class="flex flex-col p-4 relative">
    <app-navbar
      *ngIf="navbarAberta"
      (fecharMenu)="changeNavbar($event)"
      (tipoDeNotaSelecionada)="filtrarPorTipo($event)"
      (tagParaFiltragemDeNotas)="filtrarPorTag($event)"
      class="absolute w-full"
    ></app-navbar>
    <app-botao-criar-nota
      *ngIf="botaoCriarNota"
      (mudarStatusForm)="changeForm($event)"
      [formsAberto]="formsAberto"
    ></app-botao-criar-nota>
    <app-forms
      *ngIf="formsAberto"
      class="h-dvh"
      [tagsExistentes]="listaDeTags"
      (enviarNotaParaLista)="adicionarNota($event)"
      (fecharForms)="changeForm($event)"
    ></app-forms>
    <div class="">
      <app-navnotas
        [listaDeNotasParaExibir]="listaDeNotasParaExibir"
        *ngIf="notasAmostra"
        (notaSelecionada)="mostrarDetalhesDaNota($event)"
      ></app-navnotas>
      <app-detalhes
        *ngIf="detalhesAberto"
        [notaParaExibirDetalhes]="detalhesDaNota"
        (fecharDetalhes)="changeDetalhes($event)"
        (arquivarDesarquivarOuExcluirNota)="
          arquivarDesarquivarOuExcluirNota($event)
        "
      ></app-detalhes>
    </div>
  </main>
</div>
