<div
  class="detalhesContaine flex h-full w-full borda border-2 border-y-0"
  [ngStyle]="{
    'background-color': notaParaExibirDetalhes.arquivada ? 'gray' : 'white'
  }"
  (click)="$event.stopPropagation()"
>
  <div
    class="notasInfos borda flex p-2 flex-col gap-6 overflow-y-auto xl:p-4 xl:w-2/3 items-center"
  >
    <div class="flex justify-between w-full">
      <h1 class="text-3xl font-semibold">
        {{ notaParaExibirDetalhes.titulo }}
      </h1>
      <img
        src="..//../../assets/fechar.png"
        alt="ícone de xis para fechar os detalhes da nota"
        class="object-none cursor-pointer"
        (click)="fechar()"
      />
    </div>

    <div class="grid grid-cols-2 mt-4 w-full">
      <div class="colunas">
        <div class="flex mr-8">
          <img
            src="../../../assets/tag.png"
            alt="ícone de etiqueta"
            class="mr-4"
          />
          <p>Tags</p>
        </div>

        <div class="flex mr-8">
          <img
            src="../../../assets/relogio.png"
            alt="ícone de etiqueta"
            class="mr-4 object-none"
          />
          <p>Última Edição</p>
        </div>
      </div>

      <div class="colunas">
        <div class="flex flex-wrap items-center">
          <span
            *ngFor="let tag of notaParaExibirDetalhes.tags; let last = last"
            class="mr-2"
            >{{ tag }}{{ !last ? "," : " " }}
          </span>
        </div>

        <p>{{ notaParaExibirDetalhes.data }}</p>
      </div>
    </div>
    <div class="botoesAcoesNotaContainer flex flex-col gap-5 xl:hidden">
      <button
        *ngIf="notaParaExibirDetalhes.arquivada"
        class="botao borda"
        (click)="processarNota('desarquivar', notaParaExibirDetalhes)"
      >
        <img
          src="../../../assets/arquivo.png"
          alt="ícone de pasta de arquivos"
        />
        <p>Desarquivar</p>
      </button>
      <button
        *ngIf="!notaParaExibirDetalhes.arquivada"
        class="botao borda"
        (click)="processarNota('arquivar', notaParaExibirDetalhes)"
      >
        <img
          src="../../../assets/arquivo.png"
          alt="ícone de pasta de arquivos"
        />
        <p>Arquivar</p>
      </button>
      <button
        class="botao borda"
        (click)="processarNota('excluir', notaParaExibirDetalhes)"
      >
        <img src="../../../assets/lixo.png" alt="ícone de pasta de arquivos" />
        <p>Excluir Nota</p>
      </button>
    </div>
    <p class="mt-8 text-justify justify-self-center">
      {{ notaParaExibirDetalhes.texto }}
    </p>
    <button
      class="p-2 rounded-lg bg-blue-500 xl:hidden"
      (click)="rolarPraCima()"
    >
      Voltar pra Cima
    </button>
  </div>
  <!-- BOTOES DESKTOP -->
  <div class="hidden xl:flex xl:w-1/3 justify-center items-start p-4">
    <div class="botoesAcoesNotaContainer flex flex-col gap-5 w-full">
      <button
        *ngIf="notaParaExibirDetalhes.arquivada"
        class="botao borda"
        (click)="processarNota('desarquivar', notaParaExibirDetalhes)"
      >
        <img
          src="../../../assets/arquivo.png"
          alt="ícone de pasta de arquivos"
        />
        <p>Desarquivar</p>
      </button>
      <button
        *ngIf="!notaParaExibirDetalhes.arquivada"
        class="botao borda"
        (click)="processarNota('arquivar', notaParaExibirDetalhes)"
      >
        <img
          src="../../../assets/arquivo.png"
          alt="ícone de pasta de arquivos"
        />
        <p>Arquivar</p>
      </button>
      <button
        class="botao borda"
        (click)="processarNota('excluir', notaParaExibirDetalhes)"
      >
        <img src="../../../assets/lixo.png" alt="ícone de pasta de arquivos" />
        <p>Excluir Nota</p>
      </button>
    </div>
  </div>
</div>
